*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #334767;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.wrap__screen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap__viewport {
  width: 192rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 120em) {
  .wrap__viewport {
    width: 100%;
  }
}
.wrap__content {
  position: relative;
  max-width: 140rem;
  margin: 0 auto;
  transition: all 0.5s;
}
@media only screen and (max-width: 87.5em) {
  .wrap__content {
    width: 100%;
  }
}

.content {
  position: relative;
  width: 100%;
}
.content__projects {
  width: 100%;
}
.content__projects-wrap {
  padding: 4rem 2rem 7rem 2rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 53.75em) {
  .content__projects-wrap {
    padding: 4rem 10rem 7rem 10rem;
  }
}
@media only screen and (max-width: 46.25em) {
  .content__projects-wrap {
    padding: 4rem 6rem 7rem 6rem;
  }
}
@media only screen and (max-width: 41.25em) {
  .content__projects-wrap {
    padding: 4rem 4rem 7rem 4rem;
  }
}
@media only screen and (max-width: 25em) {
  .content__projects-wrap {
    padding: 4rem 2rem 7rem 2rem;
  }
}
.content__projects-item {
  position: relative;
  overflow: hidden;
}
.content__projects-item:hover {
  cursor: pointer;
}
.content__projects-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.content__projects-item-overlay-background, .content__projects-item-overlay-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content__projects-item-overlay-background {
  background-color: #000000;
  z-index: 400;
  opacity: 0.8;
}
.content__projects-item-overlay-buttons {
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content__projects-item-overlay-hide {
  margin-top: -70rem;
}
.content__projects-item-overlay-show {
  margin-top: 0;
}
.content__projects-items {
  margin-top: 4rem;
}
.content__projects-items-icons-icon {
  list-style-type: none;
  display: inline;
}
.content__projects-items-icons-icon img {
  width: 2.2rem;
}
.content__projects-items-secondary {
  margin-top: 6rem;
}
.content__projects-items-primary-box {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 53.75em) {
  .content__projects-items-primary-box {
    grid-template-columns: 1fr;
  }
}
.content__projects-items-secondary-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 4rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 59.375em) {
  .content__projects-items-secondary-box {
    grid-template-columns: 2fr 2fr;
  }
}
@media only screen and (max-width: 36.875em) {
  .content__projects-items-secondary-box {
    grid-template-columns: 1fr;
  }
}
.content__projects-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content__projects-heading-p {
  margin-top: 2rem;
}
.content__projects-heading-wrap {
  width: 52rem;
  text-align: center;
  transition: all 0.5s;
}
@media only screen and (max-width: 41.25em) {
  .content__projects-heading-wrap {
    width: 100%;
    padding: 0 4rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .content__projects-heading-wrap {
    padding: 0 2rem;
  }
}
.content__profile {
  position: relative;
}
.content__profile-default {
  position: fixed;
  top: 0;
  z-index: 1500;
}
.content__profile-wrap {
  position: absolute;
  right: 0;
}
.content__profile-wrap-content {
  background-color: #223046;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s;
}
.content__profile-wrap-content-default {
  padding: 2rem;
  height: 100vh;
}
.content__profile-wrap-content-hide {
  padding: 0;
  height: 0;
}
.content__profile-full-name .heading-2 {
  transition: all 0.5s;
}
@media only screen and (max-height: 40em) {
  .content__profile-full-name .heading-2 {
    font-size: 2rem;
  }
}
.content__profile-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content__profile-image-avatar {
  border-radius: 50%;
  display: block;
  width: 8rem;
  transition: all 0.5s;
}
@media only screen and (max-height: 43.75em) {
  .content__profile-image-avatar {
    width: 10.8rem;
  }
}
@media only screen and (max-height: 42.5em) {
  .content__profile-image-avatar {
    width: 8.8rem;
  }
}
@media only screen and (max-height: 40em) {
  .content__profile-image-avatar {
    width: 6.8rem;
  }
}
.content__profile-job-position .subheading-1 {
  font-size: 1.6rem;
}
.content__profile-blurb {
  text-align: center;
  width: 80%;
  margin-top: 2rem;
}
.content__profile-blurb p {
  transition: all 0.5s;
}
@media only screen and (max-height: 40em) {
  .content__profile-blurb p {
    font-size: 1.4rem;
  }
}
.content__profile-web-technologies, .content__profile-tools-and-apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.content__profile-web-technologies .heading-2, .content__profile-tools-and-apps .heading-2 {
  transition: all 0.5s;
}
@media only screen and (max-height: 40em) {
  .content__profile-web-technologies .heading-2, .content__profile-tools-and-apps .heading-2 {
    font-size: 2rem;
  }
}
.content__profile-buttons {
  margin-top: 2rem;
}
.content__profile-buttons .button-1:not(:last-child) {
  margin-right: 0.5rem;
}
.content__profile-close-default {
  position: relative;
}
.content__profile-close-hide {
  display: none;
}
.content__profile-close-button {
  padding: 2rem;
}
.content__profile-social-icons {
  margin-top: 0.5rem;
}
.content__show-profile {
  position: fixed;
  z-index: 1000;
  transition: all 0.5s;
}
.content__show-profile-default {
  margin-top: 0;
}
.content__show-profile-hide {
  margin-top: -10rem;
}
.content__show-profile-wrap {
  position: absolute;
  right: 0;
}
.content__show-profile-box {
  position: absolute;
  background-color: #223046;
  right: 0;
  width: 8.5rem;
  padding: 1rem 0 1rem 1rem;
}
.content__show-profile-box:hover {
  cursor: pointer;
}
.content__show-profile-block {
  display: flex;
  flex-direction: row;
}
.content__show-profile-area-1 .content__profile-image-avatar {
  width: 4.2rem;
}

.icon-grouped {
  margin-top: 1rem;
}
.icon-grouped__item img {
  transition: all 0.5s;
}
@media only screen and (max-height: 42.5em) {
  .icon-grouped__item img {
    width: 3rem;
  }
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../fonts/Roboto-Slab-Bold.eot");
  src: url("../fonts/Roboto-Slab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Slab-Bold.woff2") format("woff2"), url("../fonts/Roboto-Slab-Bold.woff") format("woff"), url("../fonts/Roboto-Slab-Bold.ttf") format("truetype"), url("../fonts/Roboto-Slab-Bold.svg#Roboto_Slab_Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe-UI.eot");
  src: url("../fonts/Segoe-UI.eot?#iefix") format("embedded-opentype"), url("../fonts/Segoe-UI.woff2") format("woff2"), url("../fonts/Segoe-UI.woff") format("woff"), url("../fonts/Segoe-UI.ttf") format("truetype"), url("../fonts/Segoe-UI.svg#Segoe_UI") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url("../fonts/Segoe-UI-Bold.eot");
  src: url("../fonts/Segoe-UI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Segoe-UI-Bold.woff2") format("woff2"), url("../fonts/Segoe-UI-Bold.woff") format("woff"), url("../fonts/Segoe-UI-Bold.ttf") format("truetype"), url("../fonts/Segoe-UI-Bold.svg#Segoe_UI_Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
.heading-1 {
  font-family: "Roboto Slab Bold", sans-serif;
  font-size: 2.8rem;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .heading-1 {
    font-size: 2.2rem;
  }
}

.heading-2 {
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 2.2rem;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .heading-2 {
    font-size: 2rem;
  }
}

.heading-3 {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.2rem;
  color: #466592;
  text-transform: capitalize;
  transition: all 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .heading-3 {
    font-size: 1rem;
  }
}

.subheading-1 {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.8rem;
  color: #AEAEAE;
  text-transform: capitalize;
  font-style: italic;
  transition: all 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .subheading-1 {
    font-size: 1.6rem;
  }
}

.heading-stylized-1 {
  font-family: "Roboto Slab Bold", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  transition: all 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .heading-stylized-1 {
    font-size: 1rem;
  }
}
.heading-stylized-1__colored {
  padding: 0.5rem 2rem;
  color: #ffffff;
  transform: skew(20deg);
  display: inline-block;
  line-height: 2.6rem;
  background-image: linear-gradient(to right bottom, #F2791C, #F2BF16);
}
.heading-stylized-1__unskew {
  display: inline-block;
  transform: skew(-20deg);
}
.heading-stylized-1__extra {
  color: #6990C9;
  margin: 1.2rem 0 0 2rem;
  line-height: 2.6rem;
}

.paragraph-1 {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  transition: all 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .paragraph-1 {
    font-size: 1.2rem;
  }
}

.paragraph-2 {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.4rem;
  color: #AEAEAE;
  transition: all 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .paragraph-2 {
    font-size: 1rem;
  }
}
.paragraph-2__colored {
  color: #3E96E3;
  font-weight: bold;
}

.paragraph-3 {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.8rem;
  color: #6990C9;
  transition: all 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .paragraph-3 {
    font-size: 1.4rem;
  }
}

.card-1 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  transition: all 0.5s;
  border-radius: 1rem;
}
@media only screen and (max-width: 36.25em) {
  .card-1 {
    flex-direction: column;
  }
}
.card-1__blurb {
  font-size: 1.8rem;
  height: 22rem;
  margin-top: 2rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 36.25em) {
  .card-1__blurb {
    height: 18rem;
  }
}
.card-1__area-1 {
  position: relative;
  width: 42%;
  transition: all 0.5s;
}
@media only screen and (max-width: 36.25em) {
  .card-1__area-1 {
    width: 100%;
    height: 24rem;
  }
}
.card-1__area-1-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-1__area-1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left bottom, rgba(62, 150, 227, 0.2), rgba(242, 121, 28, 0.3));
}
.card-1__area-1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-100deg, #ffffff 0%, #ffffff 26%, transparent 0%);
  transition: all 0.5s;
}
@media only screen and (max-width: 36.25em) {
  .card-1__area-1::after {
    background-image: linear-gradient(6deg, #ffffff 0%, #ffffff 20%, transparent 0%);
  }
}
.card-1__area-2 {
  width: 58%;
  transition: all 0.5s;
}
@media only screen and (max-width: 36.25em) {
  .card-1__area-2 {
    width: 100%;
  }
}
.card-1__area-2-wrap {
  margin: 2rem 2rem 2rem 0;
  transition: all 0.5s;
}
@media only screen and (max-width: 36.25em) {
  .card-1__area-2-wrap {
    margin: 0 2rem 2rem 2rem;
  }
}
.card-1__area-2 .heading-stylized-1 {
  transition: all 0.5s;
}
@media only screen and (max-width: 53.75em) {
  .card-1__area-2 .heading-stylized-1 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 41.25em) {
  .card-1__area-2 .heading-stylized-1 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 25em) {
  .card-1__area-2 .heading-stylized-1 {
    font-size: 1.2rem;
  }
}
.card-1__area-2 .paragraph-2 {
  transition: all 0.5s;
}
@media only screen and (max-width: 53.75em) {
  .card-1__area-2 .paragraph-2 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 41.25em) {
  .card-1__area-2 .paragraph-2 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 25em) {
  .card-1__area-2 .paragraph-2 {
    font-size: 1.2rem;
  }
}
.card-1__area-2 .content__projects-items-icons-icon img {
  transition: all 0.5s;
}
@media only screen and (max-width: 53.75em) {
  .card-1__area-2 .content__projects-items-icons-icon img {
    width: 3rem;
  }
}
@media only screen and (max-width: 41.25em) {
  .card-1__area-2 .content__projects-items-icons-icon img {
    width: 2.8rem;
  }
}
@media only screen and (max-width: 30em) {
  .card-1__area-2 .content__projects-items-icons-icon img {
    width: 2.6rem;
  }
}
@media only screen and (max-width: 28.75em) {
  .card-1__area-2 .content__projects-items-icons-icon img {
    width: 2.4rem;
  }
}
.card-1__icons {
  margin-top: 2rem;
}

.card-2 {
  background-color: #ffffff;
  transition: all 0.5s;
  border-radius: 0.6rem;
}
@media only screen and (max-width: 36.875em) {
  .card-2 {
    display: flex;
    flex-direction: row;
  }
}
.card-2__area-1 {
  position: relative;
  height: 12.6rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .card-2__area-1 {
    height: 12.8rem;
  }
}
@media only screen and (max-width: 36.875em) {
  .card-2__area-1 {
    height: 100%;
    width: 40%;
  }
}
.card-2__area-1-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-2__area-1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left bottom, rgba(62, 150, 227, 0.2), rgba(242, 121, 28, 0.3));
}
.card-2__area-2 {
  padding: 2rem 1.5rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 36.875em) {
  .card-2__area-2 {
    width: 60%;
  }
}
.card-2__area-2-heading .heading-3 {
  transition: all 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .card-2__area-2-heading .heading-3 {
    font-size: 1.6rem;
  }
}
.card-2__icons {
  margin-top: 1rem;
}
.card-2__icons-item img {
  width: 2.5rem;
}
.card-2__blurb {
  margin-top: 1rem;
  height: 17rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 59.375em) {
  .card-2__blurb {
    height: 12rem;
  }
}
@media only screen and (max-width: 53.75em) {
  .card-2__blurb {
    height: 10rem;
  }
}
@media only screen and (max-width: 38.75em) {
  .card-2__blurb {
    height: 12rem;
  }
}
@media only screen and (max-width: 28.75em) {
  .card-2__blurb {
    height: 14rem;
  }
}
@media only screen and (max-width: 23.75em) {
  .card-2__blurb {
    height: 16rem;
  }
}
.card-2__blurb .paragraph-2 {
  transition: all 0.5s;
}
@media only screen and (max-width: 59.375em) {
  .card-2__blurb .paragraph-2 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 53.75em) {
  .card-2__blurb .paragraph-2 {
    font-size: 1.2rem;
  }
}

.icon-links-1__item {
  list-style-type: none;
  display: inline-block;
}
.icon-links-1__link {
  text-decoration: none;
}

.icon-grouped__item {
  list-style-type: none;
  display: inline-block;
}

.button-1 {
  position: relative;
  border: none;
  background-color: #0077FF;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1rem 2rem;
}
.button-1__text {
  position: relative;
  z-index: 300;
}
.button-1__text:hover {
  cursor: pointer;
}
.button-1__text-link {
  text-decoration: none;
  color: #ffffff;
}
.button-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left bottom, #f2791c, #f2bf16);
  z-index: 200;
  opacity: 0;
  transition: all 0.5s;
}
.button-1:hover::after {
  opacity: 1;
  cursor: pointer;
}
.button-1__active {
  position: relative;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(to left bottom, #f2791c, #f2bf16);
}
.button-1__active__text {
  position: relative;
  z-index: 300;
}
.button-1__active__text:hover {
  cursor: pointer;
}

.button-2 {
  position: relative;
  border: none;
  background-color: #0077FF;
  text-transform: uppercase;
}
.button-2__text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
  text-decoration: none;
  color: #ffffff;
  width: 16rem;
  padding: 1rem 0;
}
.button-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left bottom, #f2791c, #f2bf16);
  z-index: 200;
  opacity: 0;
  transition: all 0.5s;
}
.button-2:hover::after {
  opacity: 1;
  cursor: pointer;
}
.button-2:not(:last-child) {
  margin-bottom: 0.6rem;
}

.button-icon {
  position: relative;
  z-index: 300;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  fill: #ffffff;
}

.button-icon-1 {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
}
.button-icon-1__icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: #ffffff;
  transition: all 0.5s;
}
.button-icon-1__icon:hover {
  cursor: pointer;
  fill: #0077FF;
}

.button-icon-2 {
  border: none;
  background-color: transparent;
}
.button-icon-2__icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: #ffffff;
  transition: all 0.5s;
}
.button-icon-2__icon:hover {
  cursor: pointer;
  fill: #0077FF;
}

.contact-form {
  position: relative;
  z-index: 2600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form__wrap {
  position: absolute;
  top: 0;
  width: 48.8rem;
  transition: all 0.5s;
}
.contact-form__wrap-default {
  margin-top: 5rem;
}
@media only screen and (max-Height: 35em) {
  .contact-form__wrap-default {
    margin-top: 2rem;
  }
}
.contact-form__wrap-hide {
  margin-top: -55rem;
}
.contact-form__heading {
  margin-bottom: 2rem;
  text-align: center;
}
.contact-form__box {
  background: #334767;
  border: 1rem solid #7E7E7E;
}
.contact-form__close {
  background: #223046;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
.contact-form__form {
  padding: 2rem;
}
@media only screen and (max-Height: 34.375em) {
  .contact-form__form-heading {
    font-size: 2rem;
  }
}
.contact-form__form-group:not(:last-child) {
  margin-bottom: 2rem;
}
.contact-form__input {
  border: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #6990C9;
  width: 100%;
  padding: 1.2rem;
  transition: all 0.5s;
}
@media only screen and (max-Height: 34.375em) {
  .contact-form__input {
    font-size: 1.4rem;
  }
}
.contact-form__input::placeholder {
  color: #466592;
}
.contact-form__input:focus {
  outline: none;
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.2);
  transition: all 0.5s;
}
.contact-form__input:focus:invalid {
  box-shadow: 0 0.5rem 2rem rgba(242, 121, 28, 0.4);
}
@media only screen and (max-Height: 34.375em) {
  .contact-form__textarea {
    height: 5em;
  }
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2500;
  background-color: #000;
  opacity: 0.8;
}
.page-overlay__hide {
  width: 0;
  height: 0;
}
.page-overlay__default {
  width: 100%;
  height: 100vh;
}

.profile-footer {
  margin-top: 2rem;
  background-color: #192539;
  text-align: center;
}
.profile-footer__wrap {
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
