$color-group-1a: #D4D4D4;
$color-group-1b: #AEAEAE;
$color-group-1c: #7E7E7E;

$color-group-2a: #F2791C;
$color-group-2b: #F2BF16;

$color-group-3a: #3E96E3;
$color-group-3b: #1C7DD1;
$color-group-3c: #0077FF;

$color-group-4a: #6990C9;
$color-group-4b: #466592;
$color-group-4c: #334767;
$color-group-4d: #223046;

$color-black: #000000;
$color-white: #ffffff;


